{% extends 'base.html' %}

{% block head %}
<title>News Stuff</title>
{% endblock %}

{% block body %}
<h1>news filterer</h1>
<form class="form-inline" action="/" method="POST">
    <div class="form-group">
      <label for="key">Keywords:</label>
      <input type="keyword" class="form-control content" id="keywords" name = "keywords" >
    </div>
    <button type="submit" class="btn">Submit</button>
    <button type="submit" class="btn"><a href="/imperatives">Get Advice</a></button>
  </form> 
{%if results:%}
<table class = "table-striped">
    <tr>
      {%for header in results[0]:%}
        <th>{{header}}</th>
        {%endfor%}
    </tr>
    
    {%for row in results[1:]:%}
    <tr>
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td><a href={{row[2]}}>-Link To Article-</a></td>
      <td>{{row[3]}}</td>
      {%if row[4] != "":%}
      <td>{{row[4]}}</td>
      {%endif%}
    </tr>
    {%endfor%}
    {%endif%}
</table>
{% endblock %}